<div class = "user-box">
<h3> Login </h3>

<p style = "color:red"><%= flash[:error] %></p>

<form action = "/session" method = "POST"> 
<label for = "username"> Username: </label>
<input name = "username">
<label for = "password"> Password: </label>
<input name = "password" type = "password">

<input name = "authenticity_token" value ="<%= form_authenticity_token() %>" type = "hidden">
<button> Log In </button>
</form>


<h3> Sign up ? maybe . . . </h3>
<%= form_for @user do |f| %> 
  <% if @user.errors.any? %> 
  <div id = "error-explanation">
  <p><%= pluralize(@user.errors.count, "error") %>
  prevented this profile to be saved: </p>
  <ul> 
    <% @user.errors.full_messages.each do |msg| %> 
    <li style = "color:red"><%= msg %> </li>
    <% end %>
  </ul>
<% end %>
  </div>

  <label> username </label>
  <%= f.text_field :username, placeholder: 'username' %> 

  <label> email </label>
  <%= f.email_field :email, placeholder: 'email' %>

  <label> password </label>
  <%= f.password_field :password, placeholder: 'password' %>

  <label> password confirmation </label>
  <%= f.password_field :password_confirmation %> 

  <%= f.submit %>
  <% end %>
